html, body {
  height: 100%;
} 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.posts__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 1em;
  text-align: left;
  display: block;
  height: 49rem;
}
.posts__cell {
  width: 100%;
}
.posts__item {
  padding: 15px 20px 10px 20px;
  border: 1px solid #aeaeae71;
  border-radius: 15px;
  width: 100%;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0,0,0,.5);
  padding-left: 60px !important;
}
.menu__navbar {
background-color: #feebef;
}
.main {
  background-color: #f2f2f2;
  height: 100%;
}
#root {
  height: 100%;
}
.page-item.active .page-link{
  background-color: #feebef;
}
.col-md-12 {
  background-color: #f2f2f2;
}
.form-wrapper {
 width: 50%;
}
.items_block {
  display: flex;
  max-width: 100% !important;
}
p {
  font-family: Roboto !important;
  font-style: normal !important;
  font-weight: 400 !important;
  color: #333 !important;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
